<% prev_date ||= '' %>

<div class="post">
	
	
	<div class="date">
	    <% if prev_date != entry.created_at.strftime("%a%d%Y") %>
		    <div class="date_brick">
    			<%= entry.created_at.strftime("%b") %><br/>
            	<%= entry.created_at.strftime("%d") %>
        	</div>
        	<%= entry.created_at.strftime("%a") %>
    	<% end %>
    	<div style="font-size:0.4em"><%= link_to(entry.created_at.strftime("%H:%M"), "/perm/#{entry.id}") %></div>
	</div>
    

    <% unless entry.url.blank? %>
        <div class="link">
            <%= link_to entry.title, entry.url, :class => 'link' %>
        </div>
        <p style="margin-top:-2px;"><small><%= entry.short_uri %></small></p>
    <% else %>
        <h2><%= entry.title %></h2>
    <% end %>

    <%= entry.html %>

</div>